amplify/#current-cloud-backend/function/*/src/node_modules/**/*
amplify/backend/function/*/src/node_modules/**/*
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

build/
dist/
node_modules/

Pods/
android/.idea
android/.gradle

SECRET_KEY.js
